.categoryFilter {
  border-bottom: 1px solid #c2c2c2;

  input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 2px solid #000000;
  }

  button {
    background: none;
    border: 0;
  }
}
